<div><%= fa_icon "mobile" %></div>
<div><%= fa_icon "mobile" %></div>
<div><%= fa_icon "facebook-official" %></div>
<div style="color: light-blue"><%= fa_icon "twitter" %></div>
<div class="login-form">
  <span style="font-family: cursive; background-color: #ffffff">istangram</span>
</div>
